@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    overflow-x: hidden;
    background: #121212;
    outline: none;
    
}

button{
    outline:none;
}



::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background:#121212;
    border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0E8388;
    transition: all 200ms ease-in-out;
}
 
